/* Extra small devices (phones, 600px and down) */
@media only screen and (max-width: 600px) {
    .right {
        width: 100%;
        max-height: 60%;
        overflow-y: auto;
    }

    .left {
        max-height: fit-content;
    }

    .contact {
        margin-top: 8%;
    }

    .name {
        font-size: 10vmin;
    }

    .desc {
        font-size: 6vmin;
    }

    .header {
        font-size: 6vmin;
    }

    .subheader {
        font-size: 6vmin;
    }
}

@media only screen and (min-width: 600px) {
    .right {
        width: 100%;
        max-height: 60%;
        overflow-y: auto;
    }

    .left {
        max-height: fit-content;
    }

    .contact {
        margin-top: 8%;
    }

    .name {
        font-size: 10vmin;
    }

    .desc {
        font-size: 6vmin;
    }

    .header {
        font-size: 6vmin;
    }

    .subheader {
        font-size: 6vmin;
    }
}

/* Medium devices (landscape tablets, 768px and up) */
@media only screen and (min-width: 768px) {
    .right {
        width: 100%;
        max-height: 60%;
        overflow-y: auto;
    }

    .left {
        max-height: fit-content;
    }

    .contact {
        margin-top: 4%;
    }

    .name {
        font-size: 6vmin;
    }

    .desc {
        font-size: 4vmin;
    }

    .header {
        font-size: 5vmin;
    }

    .subheader {
        font-size: 4vmin;
    }
}

/* Large devices (laptops/desktops, 992px and up) */
@media only screen and (min-width: 992px) {
    .right {
        width: 100%;
        max-height: 60%;
        overflow-y: auto;
    }

    .left {
        max-height: fit-content;
    }

    .contact {
        margin-top: 4%;
    }

    .name {
        font-size: 6vmin;
    }

    .desc {
        font-size: 4vmin;
    }

    .header {
        font-size: 5vmin;
    }

    .subheader {
        font-size: 4vmin;
    }
}

/* Extra large devices (large laptops and desktops, 1200px and up) */
@media only screen and (min-width: 1200px) {
    .right {
        max-width: 55%;
        max-height: 100%;
        overflow-y: auto;
    }
    .left {
        max-width: 45%;
        max-height: 100%;
    }

    .contact {
        margin-top: 4%;
    }

    .name {
        font-size: 6vmin;
    }

    .desc {
        font-size: 4vmin;
    }

    .header {
        font-size: 5vmin;
    }

    .subheader {
        font-size: 4vmin;
    }
}

.home {
    display: flex;
    width: 100vw;
    height: 100vh;
    justify-content: center;
    align-items: center;
    background-color: rgb(32, 32, 32);
    z-index: -1;
}

.blur-screen {
    overflow: hidden;
    display: flex;
    width: max(80%, 90vmin);
    height: 90%;
    border-radius: 6%;
    background-color: rgba(37, 37, 37, 0.7);
    backdrop-filter: blur(100px);
    z-index: 1;
    box-shadow: 10px 10px 10px rgba(0, 0, 0, 0.7);
}

.blur-screen-inner {
    width: 100%;
    max-height: 100%;
    display: flex;
    flex-wrap: wrap;
    margin: 7%;
    color: white;
    font-family: -apple-system, BlinkMacSystemFont, sans-serif;
    text-align: left;
}

.blur-screen-inner::-webkit-scrollbar { 
    width: 3px;
    background: rgb(15, 15, 15);
    border-radius: 4px;
}

.blur-screen-inner::-webkit-scrollbar-thumb {
    background: #686868;
    border-radius: 4px;
}

.info {
    display: flex;
    flex-direction: column;
    flex: 1 1 auto;
}

.left {
    flex: 1 1 auto;
}

.name {
    font-weight: bold;
}

.desc {
    font-weight: normal;
}

.contact {
    flex: 1 1 auto;
    display: flex;
    align-items: flex-end;
}

/* Right side */

.right::-webkit-scrollbar { 
    width: 3px;
    background: rgb(15, 15, 15);
    border-radius: 4px;
}

.right::-webkit-scrollbar-thumb {
    background: #686868;
    border-radius: 4px;
}

.header {
    font-weight: bold;
}

.subheader {
    font-weight: normal;
    margin-top: 2rem;
}

.skills {
    margin-top: 3rem;
}
