.home {
    display: flex;
    width: 100vw;
    height: 100vh;
    justify-content: center;
    align-items: center;
    grid-template-columns: 1fr;
    background-color: rgb(32, 32, 32);
    z-index: -1;
}

.blur-screen {
    display: flex;
    width: 70%;
    height: 90%;
    border-radius: 10%;
    background-color: rgba(37, 37, 37, 0.7);
    backdrop-filter: blur(100px);
    z-index: 1;
    box-shadow: 10px 10px 10px rgba(0, 0, 0, 0.7);
}

.blur-screen-inner {
    width: 100%;
    display: flex;
    margin: 7%;
    color: white;
    font-family: -apple-system, BlinkMacSystemFont, sans-serif;
    text-align: left;
}

.info {
    display: flex;
    flex-direction: column;
    min-width: 30%;
    flex: 1 1 auto;
}

.left {
    max-width: 50%;
    min-width: 24rem;
}

.name {
    font-weight: bold;
    font-size: 3rem;
}

.desc {
    font-weight: normal;
    font-size: 1.5rem;
}

.contact {
    flex: 1 1 auto;
    display: flex;
    align-items: flex-end;
}

/* Right side */

.right {
    font-size: 1.5rem;
    max-width: 50%;
    min-width: 24rem;
    overflow-y: scroll;
}

.right::-webkit-scrollbar { 
    width: 3px;
    background: rgb(15, 15, 15);
    border-radius: 4px;
}

.right::-webkit-scrollbar-thumb {
    background: #686868;
    border-radius: 4px;

}

.header {
    font-weight: bold;
    font-size: 2rem;
}

.subheader {
    font-weight: normal;
    font-size: 1.5rem;
    margin-top: 2rem;
}

.skills {
    margin-top: 3rem;
}
