.home {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100vw;
    height: 100vh;
    background-color: rgb(32, 32, 32);
    z-index: -1;
}

.blur-screen {
    display: flex;
    width: 70%;
    height: 90%;
    border-radius: 10%;
    background-color: rgba(95, 95, 95, 0.1);
    backdrop-filter: blur(100px);
    z-index: 1;
    box-shadow: 10px 10px 10px rgba(0, 0, 0, 0.7);
}

.blur-screen-inner {
    width: 100%;
    display: flex;
    margin: 10%;
    color: white;
    font-family: -apple-system, BlinkMacSystemFont, sans-serif;
    text-align: left;
}

.info {
    display: flex;
    flex-direction: column;
    min-width: 30%;
    flex: 1 1 auto;
}

.name {
    font-weight: bold;
    font-size: 3rem;
}

.desc {
    font-weight: normal;
    font-size: 1.5rem;
}

.contact {
    flex: 1 1 auto;
    display: flex;
    align-items: flex-end;
}

.right {
    font-size: 1.5rem;
}

.bubbles {
    display: flex;
    position: absolute;
}

.bubble {
    border-radius: 50%;
    opacity: 0.8;
    scale: calc(0.5 + 0.5 * var(--scale));
}