.App {
	height: 100vh;
	width: 100vw;
	display: flex;
	color: black;
	font-size: 5vmin;
	font-family: 'Courier New', Courier, monospace;
	justify-content: center;
	align-items: center;
    margin: 0;
	overflow-x: hidden;
	overflow-y: scroll;
}

.landing-wrapper{ 
	width: 70%;
	background-color: white;
	border-color: black;
	text-align: center;
}

.down-arrow-wrapper {
	position: absolute;
	top: 80vh;
	animation: jumpInfinite 2.5s infinite;
}
  
  .down-arrow:after {
	content: "    ";
	position: absolute;
	top: 12px;
	left: -10px;
	width: 16px;
	height: 16px;
	border-bottom: 2px solid;
	border-right: 2px solid;
	transform: rotateZ(45deg);
	opacity: 50%;
  }

  @keyframes jumpInfinite {
	0% {
		margin-top: -10px;
		opacity: 0%;
	}
	30% {
		margin-top: -10px;
		opacity: 0%;
	}
	60% {
	  margin-top: 10px;
	  opacity: 100%;
	}

	99% {
		margin-top: 20px;
		opacity: 0%;
	  }
	100% {
		margin-top: -10px;
		opacity: 0%;
	}
  }